<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.namanquah.crossdomain"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Cross Domain</name>

    <description>
	Cross domain- finally
    </description>

    <author  email="namanquah@gmail.com">
	NAMANQUAH
    </author>
    
    <gap:plugin name="com.jp.whitelistplugin" version="1.1.2" />
    
    <!-- intent whitelist - what can be open to the subdomain  -->
	<access origin="http://mwc.rightclicksystems.org" />
	<!-- navigation  -->
	<allow-navigation href="http://mwc.rightclicksystems.org" />
	
	<!-- Network Request Whitelist  -->
	<access origin="*" />
	
	

\</widget>